<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
	<!-- driver de connexion a notre bdd -->
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		
		<!-- url de connexion de notre bdd -->
		<property name="connection.url">jdbc:mysql://localhost:3306/touloulou</property>
		
		<!--  identifiants de connexion -->
		<property name="connection.username">root</property>
		<property name="connection.password">root</property>
		
		<!--  on log les requetes sql, on l'enléve pour la prod -->
		<property name="show_sql">true</property>
		
		<!-- on map les entités à la bdd -->
		<mapping class="entities.Employee" />
	</session-factory>
</hibernate-configuration>